* {
  &::-webkit-scrollbar-thumb {
    border: 6px solid var(--color-mid-dark-2) !important;
  }
}

.modal-cad{
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-dark-opacity);
  display: none;
  left: 0;
  z-index: 300;
  overflow: hidden;

  & form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: var(--color-dark);
    border: 2px solid var(--color-border);
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    animation: zoomIn 0.5s both;
    margin-left: 80px;

    @media (max-width: 600px) {
      width: 80%;
      margin-left: 0;
      padding: 20px 10px;
    } 

    .titulo-add{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;

      @media (max-width: 600px) {
        margin-bottom: 0;
        padding: 0 10px;
      } 

      & h3{
        font-size: 22px;
        color: var(--color-neutral-mid);
        font-weight: 600;

        @media (max-width: 600px) {
          font-size: 18px;
        } 
      }

      & img{
        width: 26px;
        height: 26px;
      }
    }

    & input{
      background: transparent;
      border: none;
      border-bottom: 1px solid var(--color-border);
      width: 100%;
      font-size: 16px;
      padding: 5px 10px;
      color: var(--color-neutral-light-opacity-9);
    }

    & > button {
      width: 150px;
      padding: 5px 0;
      border-radius: 20px;
      background: linear-gradient(270deg, #775c4c, #b37c5c);
      color: var(--primary-ligth);
      font-size: clamp(14px, 3vw, 16px);
      transition: 0.3s;
      margin-top: 10px;

      &:hover {
          background: linear-gradient(270deg, #b37c5c,  #775c4c);
      } 
      
      @media (max-width: 600px) {
        width: 40%;
        padding: 7px 10px;  
        min-width: 120px;    
      }
    }
  }
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;

  @media (max-width: 600px) {
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }
}

.container_form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 60px;

  @media (max-width: 600px) {
    padding: 40px 20px;
    height: fit-content;
  }

  & form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 500px;
    background-color: var(--color-mid-dark);
    border: 2px solid var(--color-border);
    border-radius: 20px;
    padding: 40px 20px;

    @media (max-width: 600px) {
      max-width: 100%;
    }

    & input{
      background: transparent;
      border: none;
      border-bottom: 1px solid var(--color-border);
      width: 100%;
      font-size: 16px;
      padding: 5px 10px;
      color: var(--color-neutral-light-opacity-9);
    }
  }
}

.container-content{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 600px) {
    gap: 20px;
  }
}

.title-table{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-mid-dark);
  gap: 10px;
  padding: 0 10px;
  margin-bottom: 10px;

  & h2{
    font-size: 24px;
    color: var(--color-neutral-mid);
    font-weight: 600;

    @media (max-width: 600px) {
      font-size: 18px;
      margin-top: 5px;
    }
  }

  & button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    color: var(--color-neutral-mid-3);
    font-weight: 600;
    font-size: 14px;

    @media (max-width: 600px) {
      font-size: 12px;
      position: absolute;
      right: 30px;
      margin-top: -60px;
    }

    & img{
      width: 25px;
      height: 25px;

      @media (max-width: 600px) {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.button-save {
  width: 40%;
  min-width: 100PX;    
  padding: 7px 10px;
  border-radius: 20px;
  background: linear-gradient(270deg, #775c4c, #b37c5c);
  color: var(--primary-ligth);
  font-size: clamp(14px, 3vw, 16px);
  transition: 0.3s;
  margin-top: 30px;

  &:hover {
      background: linear-gradient(270deg, #b37c5c,  #775c4c);
  } 

  @media (max-width: 600px) {
    margin-top: 30px;
  }
}
