
.select-selected {
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-mid-dark-2);
    padding: 5px 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-neutral-mid-3);
    font-size: 16px;
    position: relative;
    z-index: 6;
    margin-top: 5px;
}

.select-items {
    position: absolute;
    background-color: var(--color-mid-dark-2);
    border: 1px solid var(--color-border);
    border-top: none;
    width: 100%;
    z-index: 4;
    border-radius: 10px;
    margin-top: 5px;
    overflow: auto;
    height: fit-content;
    max-height: 120px;
}

.select-items .select-option {
    padding: 10px;
    cursor: pointer;
    color: var(--color-neutral-light-opacity-9);
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.select-items .select-option:hover {
    border: 1px solid var(--color-primary-3);
    border-radius: 10px;
}

.select-hide {
    display: none;
}

.select-selected i {
    transition: transform 0.3s ease;
}

.select-arrow-active i {
    transform: rotate(180deg);
}

.custom-select {
    position: relative;
    width: 100%;
}
    
.select-2{
    z-index: 10;
}
    
.content-2{
    z-index: 9;
}